/* principalCuerpo.css */

.contenedorCuerpo {
    background-color: rgba(8, 83, 243, 0.61);
    width: 90vw;
    height: 70vh;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 20px;
    padding: 1.5rem;
}

.cuerpoAbogado {
    background-color: rgba(0, 0, 255, 0.233);
    color: beige;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 20px;
    /* padding-bottom: 10px; */
    /* margin: 0px 12px; */
}

.cuerpoPsicologo {
    background-color: rgba(17, 122, 3, 0.233);
    color: beige;
    border-radius: 20px;
    padding: 5px 20px;
}



.agregarRegistro {
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-weight: 700;
    border: 1px solid;
}


/* CSS para la ventana emergente */
.ventanaEmergente {
    position: fixed;
    top: 55%;
    /* Centrar verticalmente */
    left: 50%;
    /* Centrar horizontalmente */
    transform: translate(-50%, -50%);
    background-color: rgb(7, 94, 215);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    z-index: 9999;
    /* Asegúrate de que la ventana emergente esté encima del contenido existente */
    padding: 20px;
    /* Ajusta según sea necesario */
    max-width: 80%;
    /* Ajusta según sea necesario */
}

.seccionDisplayFlex {
    display: flex;
}

.espaciado {
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
    margin: 0px 10px 10px 0px;
}
.anchoGrandisimo { width: 350px; }

.anchoGrande { width: 250px; }

.anchoMediano { width: 100px; }

.anchoChico { width: 28px; }

.anchoChicoOpcion { width: 38px; }

.textoDerecha { text-align: right;}


/* boton X para cerrar el formulario */
/* Estilos para el contenedor de la "x" */
.close-button {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 620px;
}

/* Estilos para las líneas de la "x" */
.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
    top: 5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.close-button::after {
    transform: translateX(-50%) rotate(-45deg);
}

/* Opcional: Estilos adicionales para hacer la "x" más atractiva */
.close-button:hover::before,
.close-button:hover::after {
    background-color: rgb(255, 255, 255);
}

.barraTitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 125, 223);
    border-radius: 10px;
    margin-bottom: 10px;

}

.barraTitulo h4 {
    margin: 0;
    width: 600px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.barraTitulo .close-button {
    margin-left: 0px;
    width: 50px;
    /* background-color: rgba(102, 51, 153, 0.404); */
}

/* boton guardar */
/* .botonGuardar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.botonGuardar:hover {
    background-color: #45a049;
} */

/* Icono de disquete */
/* .disqueteIcono {
    display: inline-block;
    position: relative;
    width: 120px;
        /* Ajusta el tamaño según sea necesario */
        /* height: 120px; */
        /* Ajusta el tamaño según sea necesario */
        /* background-color: #4CAF50; */
        /* Color del fondo */
        /* clip-path: polygon(20% 40%, 80% 10%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%); */ 
        /*                  h   v        h=horizontal    v=vertical*/
/* } */

/* .disqueteIcono::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 3px;
    top: 3px;
    left: 5px;
}  */